footer{
    background: #4F75D2;
}
.main__foot{
    width: 1150px;
    margin: auto;
    display: flex;
    justify-content: space-between ;
    padding: 24px 0;
    flex-wrap: wrap;
    
}
.foot__list{
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: #ffffff;
}
.li__foot{
font-size: 13px;
line-height: 14.95px;
letter-spacing: 0.01em;
text-align: left;

}
.img__logo__foot{
    width: 37px;
    height: 37px;
}
.h2__foot{

font-size: 14px;
line-height: 16.1px;
letter-spacing: 0.01em;
text-align: left;

}
.ul__foot{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.div__logo__foot{
    display: flex;
    gap: 10px;
}
.btn__foot{
    padding: 18px 60px;
    background-color: #F5821F;
    border: none;
    color: #FFFFFF;
border-radius: 3px;
font-size: 13px;
font-weight: 500;
line-height: 14px;
letter-spacing: 0.01em;


}
.a__foot{
    color: #F5821F;
}
.div__foot__mob{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.border__foot__mob{
    width: 19px;
    border: 2px solid #FFFFFF;
    display: none;
}
.foot__plus{
    display: none;
}
.foot__plus{
    width: 18px;
}
.p__foot__mini{
font-size: 12px;
line-height: 13.8px;
letter-spacing: 0.01em;
text-align: center;
color: #D2D2D2;
border: 1px solid #5F83DC;
padding: 10px;
}




@media (max-width:450px) {
    .div__foot__mob{
        width: 300px;
    }
    .border__foot__mob{
        display: block;
    }
    .foot__plus{
        display: block;
    }
    .main__foot{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
    .logo__foot{
        width: 110px;
    }
    .li__foot__mob{
      display: none;
    }
    .foot__list{
        width: 100%;
    }
    footer{
        padding: 0 10px;
        width: 100%;
        text-align: center;
        
    }
    .a__foot{
        text-decoration: none;
        color: #FFFFFF;
    }

}
@media (max-width:900px) {
.main__foot{
        width: 100%;
    padding: 24px 10px;
    text-align: center;
}
 .foot__list__pad{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
 }
}